@import "~src/styles.scss";

.rave-list {
  width: 480px;
  height: 100%;
  margin: 0 auto;
  padding: 60px 20px 40px;
  background-color: $themeColor;

  .item {

    +.item {
      margin-top: 5px;
    }
  }
}
