@import "~src/styles.scss";

:host {
  position: fixed;
  width: 100%;
  height: 40px;
  min-width: 480px;
  box-sizing: border-box;
  padding: 0 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: $subColor;

  .name {
    text-decoration: none;
    color: #fff;
    font-size: 1.2rem;
  }
}
